* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body { 
    box-sizing: border-box;
    background: #FFF;
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
/*    overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
}


#userbutton{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/*---------- チャットボットここから  ----------*/
/*チャットボット本体*/
#chatbot { 
    position: fixed;
    background: #FFF;
}

@media screen and (min-width: 700px) { 
    #chatbot {
        height: 80vh;
        width: 800px;
        bottom: 0;
        right: 0;
        margin: 0;
        box-shadow: 0px 0 25px -5px #888;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }
}

#chatbot-header {
    height: 60px;
    background: #52e57e;
    position: relative;
    display: flex;
    justify-content:space-between;
}
#chatbot-logo {
    color: #FFF;
    line-height: 60px;
    padding: 0 30px;
    font-size: 20px;
}

/*チャットのフィールド*/
#chatbot-body {
    width: 100%;
    height: calc(80vh - 110px);
    padding-top: 10px;
    background: #FFF;
}

.frame{
    margin: 10px 30px;
}

#chatbot-footer {
    width: 100%;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    background: #FFF;
    border-top: 1.5px solid #4ccb4a;
}

/*入力する場所*/
#chatbot-text {
    height: 40px;
    width: 72%;
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: auto 10px auto 15px;
    color: #636262;
    border: 0;
    outline: 0;
}

/*送信ボタン*/
#chatbot-submit-user{
    cursor: pointer;
    height: 35px;
    padding: 0 30px;
    margin: auto;
    margin-right: 15px; 
    font-size: 16px;
    background: #70ef35;
    color: white;
    display: block;
    /*デフォルトのボーダーを消す*/
    border: none;
    box-sizing: border-box;
    border-radius: 7px;
}

#chatbot-submit-bot{
    cursor: pointer;
    height: 35px;
    padding: 0 30px;
    margin: auto;
    margin-right: 15px; 
    font-size: 16px;
    background: #2af58c;
    color: white;
    display: block;
    /*デフォルトのボーダーを消す*/
    border: none;
    box-sizing: border-box;
    border-radius: 7px;
}


/*相手の吹き出しのデザイン*/
.chatbot-chat{
    margin-left: 20px;
    background: #E6F0F7;
    border-radius: 0 9px 9px 9px;
    color: #1A5F80;
}
.chatbot-left-rounded {
    margin-left: 20px;
    background: #E6F0F7;
    border-radius: 9px;
    color: #1A5F80;
}
/*自分の吹き出し*/
.user-text{
    text-align: right;
}

.bot-text{
    text-align: left; 
}


.user-text p {
    padding: 5px;
    display: inline-block;
    margin: 1.0em 15px 1.0em 0;
    padding: 7px 10px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #d3f1d7;
    border-radius: 10px;
}


.bot-text p{
    padding: 5px;
    display: inline-block;
    margin: 1.0em 15px 1.0em 0;
    padding: 7px 10px;
    max-width: 100%;
    color: #ffffff;
    font-size: 16px;
    background: #009214;
    border-radius: 10px;